<div class='columns'>
  <h2 id='subtitle'>Modern software requires a modern company</h2>

  <p>Avant-Garde is a software consulting company comprised of experienced, multi-disciplinary developers who care passionately about the quality of the product and the experience of the customer. Our office culture doesn't do responsibility silos, toxic hierarchy structures, mono-culture, or rigid policy response to mistakes. We're continuous learners, empathetic and thorough thinkers, transparent and reliable communicators, enthusiastic collaborators, and expert product builders.</p>
</div>

<div class='columns medium-2'>
  <h3 id='skills'>Skills</h3>

  <ul class='no-bullet'>
    <li>C, C++, C#</li>
    <li>.NET</li>
    <li>Java</li>
    <li>SQL</li>
    <li>Lua</li>
    <li>Ruby</li>
    <li>Javascript</li>
    <li>HTML5, CSS3</li>
  </ul>
</div>

<div class='columns medium-4'>
  <h3 id='services'>Services</h3>

  <ul class='no-bullet'>
    <li>Web applications</li>
    <li>Android, iOS, Windows mobile apps</li>
    <li>Desktop software applications</li>
    <li>Lean Startup MVP</li>
    <li>Agile project management</li>
    <li>SCRUM methodology</li>
    <li>eBusiness consulting</li>
    <li>Responsive web</li>
    <li>Mobile-optimized user experience</li>
    <li>Apprenticeships, mentoring</li>
  </ul>
</div>

<div class='columns medium-6'>
  <h3 id='modern'>What makes us modern</h3>

  <ul class='no-bullet'>
    <li>Embrace change. Use modern languages, frameworks, and tools.</li>
    <li>Remote work. Live where you want, hire the best in the world.</li>
    <li>Flexible hours. Manage work-life balance on your schedule.</li>
    <li>Agile project management. Adapt to changing priorities.</li>
    <li>Respect flow. Reduce interruption and micromanagement.</li>
    <li>Flat organization. Eliminate unbalanced power dynamics.</li>
  </ul>
</div>

<div class='columns'>
  <h4 id='about'>About us</h4>

  <p>Avant-Garde combines over 35 years of experience, and was founded by two long-time colleagues and friends, Mike Eaton and Joe Sak. Nicole Eaton is our Business Analyst and first apprentice. Our President is Eric Vogel, president of GLUG.net and a contributor to Visual Studio Magazine. We have two more apprentices, Ben and Dylan. Officially, we are headquartered in the Greater Lansing area of Michigan, but we embrace remote work.</p>

  <p>Avant-Garde's mission is to be the best software consulting company to work with, and to work for. Say <%= mail_to 'hello@avant-gardelabs.com' %> today.</p>
</div>
