<div class='row'>
  <h2 id='subtitle'>Modern software requires a modern company</h2>

  <p>Avant-Garde is a software consulting company comprised of experienced, multi-disciplinary developers who care passionately about the quality of the product and the experience of the customer. Our office culture doesn't do responsibility silos, toxic hierarchy structures, mono-culture, or rigid policy response to mistakes. We're continuous learners, empathetic and thorough thinkers, transparent and reliable communicators, enthusiastic collaborators, and expert product builders.</p>
</div>

<div class='row'>
  <div class='columns medium-6'>
    <h3 id='services'>Services</h3>

    <ul>
      <li>Web applications</li>
      <li>Android, iOS, Windows mobile applications</li>
      <li>Desktop software applications</li>
      <li>Lean Startup MVP. Ship your version 1</li>
      <li>Agile project management</li>
      <li>SCRUM methodology</li>
      <li>Consulting on all things technical</li>
      <li>Apprenticeships, mentoring</li>
    </ul>
  </div>

  <div class='columns medium-6'>
    <h3 id='skills'>Skills</h3>

    <ul>
      <li>C, C++, C#</li>
      <li>.NET</li>
      <li>Lua</li>
      <li>Ruby</li>
      <li>Javascript</li>
      <li>HTML5 / CSS3</li>
      <li>Responsive web</li>
      <li>Mobile-optimized user experience</li>
    </ul>
  </div>
</div>

<div class='row'>
  <div class='columns'>
    <h4 id='modern'>What makes us modern</h4>

    <ul>
      <li>Modern languages, frameworks, and tools. We remain open to changing with the times.</li>
      <li>Remote work. Employees live where they want, and we can hire the best in the world.</li>
      <li>Flexible hours. The team manages their personal lives according to their own schedule.</li>
      <li>Agile project management. We respond cooperatively to changes in your priorities.</li>
      <li>Protect the zone. Employees are adults who can get their best work done without micromanagement.</li>
      <li>Flat hierarchy. Power dynamics, which can conciously or unconciously pressure others, are not welcome here.</li>
    </ul>
  </div>
</div>

<div class='row'>
  <h4 id='about'>About us</h4>

  <p>Avant-Garde combines over 35 years of experience, and was founded by two long-time colleagues and friends, Mike Eaton and Joe Sak. Nicole Eaton is our Business Analyst and first apprentice. Our President is Eric Vogel, president of GLUG.net and a contributor to Visual Studio Magazine. We have two more apprentices, Ben and Dylan. Officially, we are headquartered in the Greater Lansing area of Michigan, but we embrace remote work.</p>

  <p>Avant-Garde's mission is to be the best software consulting company to work with, and to work for. Say <%= mail_to 'hello@avant-gardelabs.com' %> today.</p>
</div>
