@import 'foundation_and_overrides';
@import 'layout';
@import 'home';
@import 'portfolio';

// Overwrite foundation here

.vcard {
  border: none;
}

h2 {
  color: $jet;
}

.border {
  &.border-left {
    border-left-style: solid;
  }

  &.border-right {
    border-right-style: solid;
  }

  &.border-1 {
    border-width: 1px;
  }

  &.lightgrey {
    border-color: #999;
  }
}
