@import 'foundation_and_overrides';
@import 'layout';
@import 'portfolio';

.vcard {
  border: none;

  .small {
    font-size: 0.75em;
  }
}

.border {
  &.border-left {
    border-left-style: solid;
  }

  &.border-right {
    border-right-style: solid;
  }

  &.border-1 {
    border-width: 1px;
  }

  &.lightgrey {
    border-color: #999;
  }
}
