#page_intro {
  padding-top: 1em;
  background: #4A96AD;
}

#intro {
  padding-top: 1em;

  h2 {
    color: $white-smoke;
  }

  p {
    color: $white;
  }
}

#main_nav {
  transform: translateY(50%);

  .text-link {
    color: $secondary-color;
    display: block;
    float: left;
    margin-right: 1em;
    padding: 0.15em 0.25em;
    position: relative;

    &:hover, &.active {
      text-decoration: none;
      &:after  {
        content: "";
        border-bottom: 2px solid $primary-color;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.025em;
      }
    }
  }
}

#content {
  margin-top: 1em;
}
