body {
  padding-top: 1em;
}

#main_nav {
  .text-link {
    color: $white-smoke;
    display: block;
    float: left;
    margin-right: 1em;
    padding: 0.15em 0.25em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    &:hover, &.active {
      color: $white;
      &:after  {
        content: "";
        border-bottom: 4px solid $white-smoke;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.15em;
      }
    }
  }
}

#content {
  margin-top: 1em;
  background: $white-smoke;
}
