<header class='hide-for-small-only columns'>
  <%= link_to image_tag('avant-garde-logo-white.png'),
              root_path,
              class: 'left',
              id: 'logo' %>

  <nav id='main_nav' class='right hide-for-small-only'>
    <%= link_to 'About',
                root_path,
                class: 'text-link ' + active_if_selected(root_path) %>

    <%= link_to 'Portfolio',
                portfolio_path,
                class: 'text-link ' + active_if_selected(portfolio_path) %>

    <%= link_to 'Contact',
                contact_path,
                class: 'text-link ' + active_if_selected(contact_path) %>
  </nav>
</header>
